{% extends "base.html" %}
{% load static %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

    <section id="nosotros" class="bg-light">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6">
                    <h2 class="text-center mb-4">Sobre nosotros</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                    <p>Nunc congue nisi vitae suscipit tellus mauris. Pellentesque habitant morbi tristique senectus et netus et. </p>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
